.portFront {
    padding: 5px 10px;
    justify-content: space-evenly;
    background-color: white;
    z-index: 100;
    height: 95vh;

}

.click__page {
    height: 150px;

    width: 70px;
    position: absolute;
    top: 410px;
    left: 670px;
}

.avatar__details {
    box-shadow: 0px 15px 10px -9px rgba(0, 0, 0, 0.75);

}

.reel_front {
    padding: 10px;
}